.venv/
.vs/
__pycache__/
.ipynb_checkpoints/
config/.env
.env
.DS_Store
notebooks/downloads_cell1_radar/
notebooks/downloads_cell2_radar/
notebooks/downloads_cell1_satellite/
notebooks/downloads_cell2_satellite/

